.wrap {
  background-color: rgb(205, 115, 165);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px 5px 10px;
  margin: 4px;
  box-shadow: 2px 2px 2px rgb(149, 86, 104);
  z-index: 1;
}

.logo {
  width: 70px;
  border-radius: 50%;
}

.title a {
  font-size: 2em;
  color: rgb(232, 219, 209);
  text-decoration: none;
}

.login a {
  font-size: 1.2em;
  color: rgb(232, 219, 209);
  text-decoration: none;
}

.showHamburger {
  display: none;
}

@media all and (max-width: 640px) {
  .showHamburger {
    display: flex;
  }
  .logo {
    display: none;
  }
  .login {
    display: none;
  }
  .wrap {
    justify-content: space-between;
  }
}
