.wrap {
  background-color: blue;
  display: flex;
  justify-content: center;
  background-color: rgb(131, 130, 185);
  margin: 4px;
  box-shadow: 2px 2px 2px rgb(66, 94, 130);
}

.info {
  text-align: center;
  font-size: 0.9em;
  padding: 5px;
}
