.indexAnimation-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.indexAnimation-enter.indexAnimation-enter-active {
  opacity: 1;
}

.indexAnimation-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.indexAnimation-leave.indexAnimation-leave-active {
  opacity: 0;
}
