html body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.wrap {
  margin: auto;
  max-width: 960px;
  display: flex;
  flex-direction: column;

  position: relative;
  left: 0;
  overflow-x: hidden;
  transition: all 0.3s ease;
}
.pushedWrap {
  composes: wrap;
  left: 250px;
}


.content {
  display: flex;
}

.article {
  background-color: rgb(204, 226, 190);
  padding: 10px;
  margin: 4px;
  box-shadow: 2px 2px 2px rgb(130, 184, 147);
  flex: 4;
}
